.industry-partnership-swiper {
  .swiper-slide-active {
    article {
      box-shadow: 0 4px 20px rgba(255, 193, 7, 0.25);
      transition: all 0.3s ease;
    }
  }
  
  .swiper-slide-active article:hover {
    border-color: #153898;
    box-shadow: 2px 2px 15px 0 rgba(21, 56, 152, 0.2);
  }
}
