<!-- Admission Section -->
<div data-module="admission" class="w-full py-8 md:py-14 {{class}}">
  <div class="container mx-auto px-4">
    <!-- Section Title -->
    <div data-include="@components/common/section-title.html" 
      data-title="Thông tin tuyển sinh"
      data-class="mb-6 md:mb-8"
      data-title-class="text-title text-center" >
    </div>
    
    <!-- Admission Cards Carousel -->
    <div class="admission-swiper">
      <div class="swiper-wrapper">
        <!-- Slide 1 -->
        <div class="swiper-slide">
          <div data-include="@components/admission/admission-card.html"
            data-image="/assets/images/default.jpg"
            data-imageAlt="Tuyển sinh Khoa học sức khỏe IUH"
            data-title="Tuyển sinh Đại học - Hệ Chính quy 2025"
            data-description="Khoa Khoa học Sức khỏe - Đại học Công nghiệp TP.HCM tuyển sinh các ngành Y tế, Điều dưỡng, Dược học với chương trình đào tạo chuẩn quốc tế. Cơ sở vật chất hiện đại, đội ngũ giảng viên giàu kinh nghiệm, cơ hội thực tập tại các bệnh viện hàng đầu."
            data-registerUrl="#">
          </div>
        </div>

        <!-- Slide 2 -->
        <div class="swiper-slide">
          <div data-include="@components/admission/admission-card.html"
            data-image="/assets/images/default.jpg"
            data-imageAlt="Tuyển sinh Cao học IUH"
            data-title="Chương trình Thạc sĩ Khoa học Sức khỏe"
            data-description="Trong bối cảnh nền kinh tế tri thức phát triển mạnh mẽ, nhu cầu về nguồn nhân lực trình độ cao trong lĩnh vực y tế, quản lý sức khỏe và nghiên cứu ngày càng tăng. Chương trình Thạc sĩ tại IUH được thiết kế đáp ứng xu thế này, mở ra cơ hội thăng tiến nghề nghiệp."
            data-registerUrl="#">
          </div>
        </div>

        <!-- Slide 3 -->
        <div class="swiper-slide">
          <div data-include="@components/admission/admission-card.html"
            data-image="/assets/images/default.jpg"
            data-imageAlt="Liên thông Cao đẳng - Đại học IUH"
            data-title="Chương trình Liên thông 2025"
            data-description="Cơ hội học tập linh hoạt dành cho sinh viên đang theo học Cao đẳng ngành Y tế, Dược. "
            data-registerUrl="#">
          </div>
        </div>
      </div>

      <!-- Navigation buttons -->
      <!-- <div class="swiper-button-next admission-nav-next"></div>
      <div class="swiper-button-prev admission-nav-prev"></div> -->

      <!-- Pagination -->
      <div class="admission-pagination swiper-pagination !relative !bottom-0 mt-4 md:mt-6"></div>
    </div>
  </div>
</div>
