/**
 * Font Faces - Inter & Roboto Variable Fonts
 * Variable fonts cho phép adjust font-weight linh hoạt
 */

/* Inter - Variable Font (Primary) */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Inter-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-display: swap;
  src: url('../assets/fonts/Inter-Italic-VariableFont_opsz,wght.ttf') format('truetype-variations');
}

/* Roboto - Variable Font (Secondary) */
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-display: swap;
  src: url('../assets/fonts/Roboto-VariableFont_wdth,wght.ttf') format('truetype-variations');
}

@font-face {
  font-family: 'Roboto';
  font-style: italic;
  font-display: swap;
  src: url('../assets/fonts/Roboto-Italic-VariableFont_wdth,wght.ttf') format('truetype-variations');
}
