/**
 * Major Section Styles
 * Carousel pagination styling
 */

.major-swiper {
  // Pagination
  .major-pagination {
    @media (max-width: 768px) {
      bottom: 2px !important;
    }
  }

  .swiper-pagination-bullet {
    width: 10px;
    height: 10px;
    background-color: white;
    opacity: 0.6;
    transition: all 0.3s ease;

    @media (max-width: 768px) {
      width: 8px;
      height: 8px;
    }
  }

  .swiper-pagination-bullet-active {
    opacity: 1;
    background-color: #f59e0b;
    width: 20px;
    border-radius: 6px;

    @media (max-width: 768px) {
      width: 15px;
    }
  }
}
