<a href="{{link}}"
    class="group relative block w-full aspect-[5/3] bg-white cursor-pointer rounded-lg transition-all duration-300 border border-transparent hover:border-secondary-blue hover:shadow-[4px_4px_20px_0px_rgba(21,56,152,0.25)] hover:-translate-y-1 overflow-hidden p-2.5 {{class}}">
    <div class="relative w-full h-full flex items-center justify-center">
        <img src="{{image}}" alt="{{alt}}" class="min-w-full min-h-full w-auto h-auto object-contain transition-transform duration-300 group-hover:scale-105">
    </div>
</a>