<div data-module="carousel" class="hero-carousel bg-secondary-blue {{class}}">
	<div class="swiper hero-swiper">
		<div class="swiper-wrapper">
			<div class="swiper-slide">
				<div class="carousel-slide-content">
					<picture>
						<source media="(max-width: 768px)" srcset="/assets/images/bannerMB.jpg">
						<img src="/assets/images/banner.jpg" class="w-full"
							alt="Hình ảnh minh họa Phòng Tổ chức – Hành chính">
					</picture>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="carousel-slide-content">
					<picture>
						<source media="(max-width: 768px)" srcset="/assets/images/bannerMB.jpg">
						<img src="/assets/images/banner.jpg" class="w-full"
							alt="Hình ảnh minh họa công tác tổ chức và nhân sự">
					</picture>
				</div>
			</div>

			<div class="swiper-slide">
				<div class="carousel-slide-content">
					<picture>
						<source media="(max-width: 768px)" srcset="/assets/images/bannerMB.jpg">
						<img src="/assets/images/banner.jpg" class="w-full"
							alt="Hình ảnh minh họa công tác hành chính và hậu cần">
					</picture>
				</div>
			</div>
		</div>

		<div class="swiper-button-next hero-nav-next"></div>
		<div class="swiper-button-prev hero-nav-prev"></div>
		<div class="swiper-pagination hero-pagination"></div>
	</div>
</div>
