<!-- Child Title Component -->
<!-- Usage: 
  <div data-include="@components/common/child-title.html" 
    data-title="TIN TỨC MỚI"
    data-class="mb-4"
    data-title-class="custom-class">
  </div>
-->
<div class="inline-flex items-center gap-2.5 bg-primary-dark-blue rounded-md px-2.5 py-2.5 {{class}}">
  <img src="@assets/svgs/icon-iuh-small.svg" alt="" class="w-6 h-6 shrink-0">
  <h3 class="font-inter font-semibold text-xl text-white leading-none whitespace-nowrap {{titleClass}}">
    {{title}}
  </h3>
</div>
