<!-- Notification Item Component -->
<div
  class="group min-h-24 md:min-h-28 bg-[#FAFAFA] border border-stroke rounded-[5px] p-2 md:p-2.5 flex flex-col justify-between gap-1 md:gap-1.5 w-full transition-all duration-300 hover:border-secondary-blue hover:bg-primary-white hover:shadow-[1px_1px_5px_0_rgba(21,56,152,0.20)] cursor-pointer {{class}}">
  <!-- Title -->
  <a href="{{link}}"
    class="font-roboto font-medium text-sm md:text-base text-title overflow-hidden text-ellipsis line-clamp-2 transition-colors group-hover:text-primary-dark-blue ">
    {{title}}
  </a>

  <!-- Divider & Footer -->
  <div class="flex flex-col gap-1 md:gap-1.5 w-full">
    <div class="border-t border-stroke"></div>

    <div class="flex items-center justify-between w-full">
      <!-- Date Badge -->
      <div
        class="bg-primary-white border border-danger rounded-[5px] px-1 md:px-1.5 py-[2px] md:py-[3px] flex items-center gap-1 md:gap-1.5 transition-transform duration-300 ">
        <img src="/assets/svgs/calendar.svg" alt="calendar" class="w-4 h-4 md:w-5 md:h-5 text-danger">
        <span class="font-roboto font-medium text-xs md:text-sm text-danger">{{date}}</span>
      </div>

      <!-- View More Link -->
      <a href="{{link}}"
        class="flex items-center gap-0.5 font-roboto font-medium text-xs md:text-sm text-gray transition-all group-hover:text-primary-dark-blue group-hover:underline group-hover:gap-1 md:group-hover:gap-1.5 {{linkClass}}">
        Xem thêm
        <img src="/assets/svgs/arrow-right.svg" alt="arrow"
          class="w-3 h-3 md:w-4 md:h-4 transition-transform group-hover:translate-x-1">
      </a>
    </div>
  </div>
</div>