<div data-shared-carousel data-module="carousel" class="hero-carousel bg-secondary-blue {{class}}">
  <div class="swiper hero-swiper">
    <div class="swiper-wrapper">
      <div class="swiper-slide">
        <div class="carousel-slide-content">
          <picture>
            <source data-carousel-source media="(max-width: 768px)">
            <img data-carousel-image="campus" class="w-full" alt="Khuôn viên IUH">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="carousel-slide-content">
          <picture>
            <source data-carousel-source media="(max-width: 768px)">
            <img data-carousel-image="facility-7" class="w-full" alt="Không gian sinh hoạt IUH">
          </picture>
        </div>
      </div>

      <div class="swiper-slide">
        <div class="carousel-slide-content">
          <picture>
            <source data-carousel-source media="(max-width: 768px)">
            <img data-carousel-image="facility-6" class="w-full" alt="Không gian cộng đồng IUH">
          </picture>
        </div>
      </div>
    </div>

    <div class="swiper-button-next hero-nav-next"></div>
    <div class="swiper-button-prev hero-nav-prev"></div>
    <div class="swiper-pagination hero-pagination"></div>
  </div>
</div>