<!-- Stats Cards Section -->
<div data-module="stats"
    class="self-stretch py-8 md:py-14 relative bg-secondary-blue-light shadow-[inset_0px_0px_20px_0px_rgba(142,216,248,0.80)] inline-flex flex-col justify-start items-center overflow-hidden w-full {{class}}">
    <div class="container px-4 grid grid-cols-2 sm:grid-cols-2 lg:grid-cols-4 gap-4 sm:gap-6 justify-items-center">
        <!-- Wave effect -->
        <div data-include="@components/common/core-deco.html" data-class="wave absolute opacity-20 w-[180px] sm:w-[300px] lg:w-[320px] left-[calc(50%-200px)] sm:left-[calc(50%-300px)] lg:left-[calc(50%-830px)] xl:left-[calc(50%-930px)]  -bottom-[10%] sm:-bottom-[12%] lg:-bottom-[15%]"></div>
        <!-- Stats Card 1 -->
        <div data-include="@components/stats/stats-card.html" data-count="2500" data-suffix="+"
            data-bgImage="/assets/images/default.jpg" data-icon="/assets/svgs/icon-graduation-cap.svg"
            data-iconAlt="Sinh viên" data-description="Sinh viên đang theo học">
        </div>

        <!-- Stats Card 2 -->
        <div data-include="@components/stats/stats-card.html" data-count="150" data-suffix="+"
            data-bgImage="/assets/images/bannerMB.jpg" data-icon="/assets/svgs/icon-agreement.svg"
            data-iconAlt="Giảng viên" data-description="Giảng viên giàu kinh nghiệm">
        </div>

        <!-- Stats Card 3 -->
        <div data-include="@components/stats/stats-card.html" data-count="50" data-suffix="+"
            data-bgImage="/assets/images/default.jpg" data-icon="/assets/svgs/icon-online-meeting.svg"
            data-iconAlt="Chương trình" data-description="Chương trình đào tạo chất lượng">
        </div>

        <!-- Stats Card 4 -->
        <div data-include="@components/stats/stats-card.html" data-count="95" data-suffix="%"
            data-bgImage="/assets/images/default.jpg" data-icon="/assets/svgs/icon-global-education.svg"
            data-iconAlt="Tốt nghiệp" data-description="Tỷ lệ có việc làm sau tốt nghiệp">
        </div>
    </div>
</div>